*
{
    padding: 0;
    margin: 0;
}
body
{
    min-height: 100vh;
    width: 100vw;
    background-color: aqua;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
header
{
    height: 100px;
    width: 100%;
    background-color: blue;
}