*
{
    padding: 0;
    margin: 0;
}
body
{
    display: grid;
    grid-template-columns: repeat(auto-fit,300px);
    grid-template-rows: repeat(5,400px);
    gap: 20px;


}

.card
{
    height: 350px;
    width: 300px;
    background-color: whitesmoke;
    position: relative;
    border-radius: 0px 0px 20px 20px;
   
   display: flex;
   flex-direction: column;
   align-items: center;
   box-shadow: 5px 5px 10px grey;
   
}
.profile
{
    height: 150px;
    width: 150px;
    border-radius: 100px;
    border: 4px solid white;
    background: url(337543.png);
    background-size: cover;
    box-shadow: 3px 3px blue;
    z-index: 2;
}
.card::before
{
    content: "";
    width: 300px;
    height: 150px;
    background-color: blue;
    position: absolute;
    border-radius: 20px 20px 0px 0px;
    top: -20px;
    left: 0;
}
.text
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}
.icons
{
    display: flex;
    margin-top: 20px;
    gap: 10px;
    padding:10px;
}
.icons a
{
    color:white;
    padding: 10px;
    border-radius: 30px;
}
.icons a:nth-child(1)
{
    background-color: #42b7f2;
}
.icons a:nth-child(2)
{
    background-color: rgb(193, 93, 110);
}
.icons a:nth-child(3)
{
    background-color: red;
}
.icons a:nth-child(4)
{
    background-color: #1da1f2;
}

