*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body
{
    background: url(68_Abstract_Background_3840x2160px.jpg);
    background-size: cover;
    height: 200vh;
    background-position:center;
}
header
{
    height: 70px;
    width: 100%;
    background-color: rgba(0,0,,0.8);
    display: flex;
    justify-content:space-between ;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 99;
    box-shadow: 0 0 10px #000;
}
#chk1
{
    display: none;
}
i
{
    color: #fff;
    cursor: pointer;
}
header .logo
{
    flex: 1;
    color: #fff;
    text-transform: uppercase;
    margin-left: 20px;    
}
header .search-box
{
    flex: 1;
    position:relative;
}
.search-box input
{
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    background: #f2f2f2;
    border-radius: 30px; 
    color: gray;
    font-size: 16px;
    text-align: center;   
}
.search-box button
{
    position: absolute;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 30px;
    background-color: green;
    transform: scale(0.9);
    top: 0;
    right: 0;
}
header ul
{
    flex: 2;
    display: flex;
    justify-content: space-evenly;
}
header ul li
{
    cursor: pointer;
    list-style: none;
}
header ul li a
{
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0px 0px 4px 0px;
    margin-right: 15px;
}
header ul li a::before
{
    content: "";
    position: absolute;
    height: 4px;
    width: 0px;
    border-radius: 10px;
    background-color: whitesmoke;
    bottom: 0;
    left: 0;
    transition: width 0.4s ease-in-out;
}
header ul li:hover a::before
{
    width: 100%;
}
header ul li:nth-child(5):hover a::before
{
    width: 0;
}

header .menu
{
    font-size: 2em;
    display: none;  
}
@media(max-width:1000px)
{
    .search-box button{
        position: absolute;
    }
    header ul{
        position: fixed;
        top: 70px;
        right: -100%;
        background-color:rgba(0,0,0,0.8);
        height: calc(100vh-70px);
        width: 50%;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        transition: right 0.5s ease-in-out;
    }
    header ul li
    {
        padding: 56px;
    }
    header .menu
    {
        display: block;
        width: 100px;
        text-align: center;
    }
    #chk1:checked~ul{
        right: 0;
    }
    
}
@media(max-width:600px)
{
    header ul
    {
        width: 100%;
    }
}