.back>div
{
    background-color: aqua;
    height: 100px;
    width: 100px;
   display: inline-flex;
   justify-content: center;
   align-items: center;
    border-radius: 20px;
    border: 10px solid black;

}
.back
{
    border: 10px solid black;
    height: 500px;
    width: 600px;
    margin-left: 20px;
    margin-top: 20px;
}
.back
{
    display: flex;
    /* flex-direction: column;  if we change flex direction main axis will change in that direction */
    align-items: flex-start;  /*align item across cross axis*/
    /* justify-content: space-around;  align item across main axis */
    /* flex-wrap: wrap;    if a lot of items are there and going out of box then it will send remaining items to next line */
    /* align-content: space-evenly;
    gap: 1em; */
    
}
.item3
{
    /* flex-grow: 1; it will fill the empty space present in a box */
    /* flex-shrink: 0; */
    /* flex-basis: 0; it will override old size of item */
    
    /* align-self: center; */
    order: -1; /*change the order of items*/
}
.nav
{
    background-color: purple;
    height: 50px;
    min-width: 1000px;
    position: sticky;
    top: 0;
}
ul
{
    float: left;
    position: absolute;
    margin: 0px;
    padding-left: 0px;
    
    
}
ul li
{
    float: left;
}
li
{
    list-style-type: none;
    margin: 0px 0px 0px 0px;
    top: 0;
    position: relative;
}
a::before
{
    content:"";
    position: absolute;
    height: 4px;
    width:0px;
    background-color: white;
    bottom: 8px;
    border-radius: 20px;
    transition: width 0.4s ease-in-out;
    
}
a:hover::before
{
    width: 40px;
}
ul a
{
    position: relative;
    text-decoration: none;
    float: left;

    padding: 20px;
    padding-bottom: 10px;
    /* background-color: black; */
    color: white;
 
    
}
ul a:hover
{
    background-color: black;
}
body
{
    margin: 0px;
}
.blank
{
    height: 10000px;
}

