*
{
    padding: 0;
    margin: 0;
}
header
{
    position: relative;
    width: 100vw;
    height: 50px;
    background-color: #00abf9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}
header ul
{
    position: absolute;
    list-style-type: none;
    top: 5px;
    right: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

}
header li 
{
    text-decoration: none;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 6px;

}

header ul li a
{
    position: relative;
    text-decoration: none;
    color: whitesmoke;


}
header ul li a::before
{
    position: absolute;
    content: "";
    height: 5px;
    width: 0;
    border-radius: 10px;
    background-color: black;
    top: 17px;
    left: 0;
    transition: width 0.2s;
}
header ul li:hover a::before
{
    width: 100%;
}
header h1
{
    position: absolute;
    left: 0;
    color: whitesmoke;
    z-index: 1;
}
header .button1
{
   position: absolute;
   bottom: 5px;
   right: 0;
    display: flex;
   height: 42px;
   width: 150px;
   margin-top: 30px;
   justify-content: space-between;
   align-items: center;
   z-index: 1;
  
}
.button1 a
{
    font-style: none;

}

.button1 a
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color:whitesmoke;
    text-align: center;
    text-decoration: none;
    height: 80%;
    width: 150px;
    background-color: #081b29;
    border: 2px solid #00abf0;
    border-radius: 5px;
    font-weight: 600;
    z-index: 1;
    overflow: hidden;

}

.button1 a::before
{
    left: 0;
    top: 0;
    position: absolute;
    content:"";
    background-color: whitesmoke;
    height: 100%;
    width: 0;
    z-index: -1;
    transition: width 0.4s ease-in-out;


}

.button1 a:hover::before
{
    width: 100%;
    
}

.button1 a:hover
{
    color: #00abf0;
}
.hambur>a
{
    padding: 10px;
    background-color: black;
    display: none;
}
@media(max-width:950px)
{
    header h1{
        font-size: 20px;
    }
}
@media(max-width:796px)
{
    header h1{
        font-size: 10px;
    }
}
@media(max-width:685px)
{
    header .hambur a
    {
        position: relative;
        
        display: block;
    }
    header .hambur{
        position: absolute;
        right: 30px;
    }
    header .hambur ul{
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 35px;
        background-color:#081b29;
        width: 200px;
        display: none;
        
    }
    header .hambur a:hover header .hambur ul
    {
        display:block;
    }
    header .button1
    {
        display: none;
    }
    header ul
    {
        position: absolute;

    }
}