.main{
    padding: 1%;
    height: 100vh;
    width: 110vw;
    background-color: aliceblue;
}
.Demon
{
   border: 5px solid lightblue;
    border-radius: 30px;
    background: url("fasdfaf.jpg");
    height:300px;
    width: 100%;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    /* background-size: cover; */
   /* padding:80px 80px 90px 90px; */

}
.Piece
{
    border: 5px solid black;
    border-radius: 30px;
    background: url(luffy.jpg);
    height: 300px;
    width: 100%;
    backkground-repeat:no-repeat; 
}
button
{
    background-color:;
}

/* body{
    overflow: hidden;
} */