/* body{
    background-color: 5D8736;
} */
.main
{
    background-color:rgb(138, 106, 177);
    padding: 10px 40px 90px 40px;
    height: 115vh;
    width: 50vw;
    margin: auto;
    border-radius: 10%;
    
}
.NameArea{
    padding: 10px 1px 1px;
    border: 3px solid rgb(255, 98, 0);
    background-color: E7FBB4;
    justify-content: center;
    margin-bottom: 5px;
    border-radius: 10px;
}
.Email{
    padding: 10px 1px 1;
    border: 3px solid rgb(255, 98, 0);
    background-color: E7FBB4;
    justify-content: center;
    margin-bottom: 5px;
    border-radius: 10px;
}
.Phone{
    padding: 5px;
    border: 3px solid rgb(255, 98, 0);;
    background-color: E7FBB4;
    justify-content: center;
    margin-bottom: 5px;
    border-radius: 10px;
}
.Address{
    padding: 5px;
    border: 3px solid rgb(255, 98, 0);;
    background-color: E7FBB4;
    justify-content: center;
    margin-bottom: 5px;
    border-radius: 10px;
}
.PostCode{
    padding: 5px;
    border: 3px solid rgb(255, 98, 0);;
    background-color: E7FBB4;
    justify-content: center;
    margin-bottom: 5px;
    border-radius: 10px;
    margin-bottom: 50px;
}
img
{
    width: 50;
}
button
{
    border-radius: 100px;
     background-color: rgb(135, 206, 222);
      padding: 40px; 
      margin-left: 140px; 
      font-size: xx-large;
      cursor:pointer;
      transition: 0.3s all ease;

}
.button:hover {
    background-color: blue;
    color: white;
    transform: scale(1.1); /* Slightly enlarges the button */
  }




