*
{
    margin: 0;
    padding: 0;
}
body
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.dropdown
{
    position: relative;
    height: 400px;
    width: 300px;
    background-color: lawngreen;
    border-radius: 20px;
    z-index: -3;

}
.but
{
    position: absolute;
    height: 100px;
    width: 100%;
    background-color: #7f0099;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-size: xx-large;
    font-weight: 600;
    font-family: sans-serif;
}
.items
{
    position: absolute;
    height: 300px;
    width: 100%;
    background-color: pink;
    border-radius: 20px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: -2;
    
}
.items  a
{
    background-color: whitesmoke;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7f0099;
    font-size: xx-large;
    font-weight: 600;
    z-index: -1;

}
.items a
{
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

.but .lefticon,.righticon
{
    position: relative;
    display: inline-block;
    height: 5px;
    width: 15px;
    border-radius: 20px;
    margin-left: 1px;
    background-color: whitesmoke;
}
.but .lefticon
{
    transform: rotate(-45deg);
    right: 8px;
}
.but .righticon
{
    transform: rotate(45deg);
}
.but:hover .lefticon
{
    transform: rotate(45deg);
    /* right: 8px; */
}
.but:hover .righticon
{
    transform: rotate(-45deg);
}
.items a::before
{
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background-color: #bb00e0;
    transform: rotate(160deg);
    z-index: -1;
    transform-origin: right;
}
.items a:hover::before
{
    transform: rotate(0deg);
}

